.header{
    display: block;
    position: sticky;
    max-width: 100vw;
    top: 0;
    padding: 1%;
    background-color: #fff;
}

a{
    text-decoration: none;
}

.brand{
    font-weight: bold;
    min-width: 100px!important;
}

.cart{
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
}



.widgets{
    display: flex;
    justify-content: end;
    width: 200px;
}

